html,
body {
    height: 100%;
    margin: 0;
}

.hierarquia {
    position: relative;
    background-color: rgb(51, 49, 49);
    display: flex;
    justify-content: space-between
}

.facebook h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card1 .facebook {
    color: rgb(226, 215, 215);
    padding-left: 20px;
    padding-right: 15px;
    font-size: 10px;
}

.card1 .lupa {
    position: absolute;
    left: 130px;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(85, 84, 84);
    padding: 10px;
}

.card1 .lupa svg {
    fill: rgb(255, 255, 255);
    height: 30px;
    width: 30px;
}

.card2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card2 .menssager {
    position: absolute;
    right: 150px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(85, 84, 84);
    padding: 10px;
}

span {
    position: absolute;
    right: -5px;
    bottom: 20px;
    color: white;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    height: 10px;
    width: 13px;
    display: flex;
    padding: 4px;
    align-items: center;
    justify-content: center;
}

.card2 .sino .botao {
    position: absolute;
    right: 115px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(85, 84, 84);
    padding: 10px;
}






.card2 .botao svg {
    fill: rgb(255, 255, 255);
    height: 30px;
    width: 30px;
}

.card2 .menssager svg {
    fill: rgb(255, 255, 255);
    height: 30px;
    width: 30px;

}

.card2 .seta svg {
    fill: rgb(255, 255, 255);
    height: 20px;
    width: 20px;

    position: absolute;
    right: 76px;
    bottom: 7px;
    width: 4px;
    height: 4px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(85, 84, 84);
    padding: 5px;
}

img {
    clip-path: circle();
    position: absolute;
    right: 80px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}